REVIT_OPERATOR_MODE=development
OPERATOR_API_BASE_URL=http://127.0.0.1:7007
OPERATOR_HOSTED_ENABLED=false
OPERATOR_WORKSPACE_ROOT=%LOCALAPPDATA%\RevitOperator\Workspace
OPERATOR_LOCAL_SKILLS_DIR=%LOCALAPPDATA%\RevitOperator\Skills
OPERATOR_OPENAI_API_KEY=
OPERATOR_TOKEN=
